html, body {
	height:100%;
    padding: 0px;
    margin: 0px;
}

.forkme {
	position: absolute; 
	top: 0; 
	left: 0; 
	border: 0; 
	z-index: 1000
}

.top-header {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 1000;
	top: 0;
}

/* not proud of the following :p */
.vco-storyjs ul {
	list-style: initial !important;
    color: #666			!important;
    margin-left: 20px	!important;
}

.vco-storyjs li {
    margin-top: 5px		!important;
    margin-bottom: 5px	!important;
}
